{% extends 'base.html' %}

{% block content%}

<style>
  .card-img-top {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}
</style>

<div class="container">
  <h3 class="text-center mb-4">Available Hoods</h3>
  <div class="row justify-content-center">
    {% for hood in hood %}
    <div class="card col-md-3 m-4" style="background-color: #DED9E8;">
      <img class="card-img-top" src="{{hood.image.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{hood.name}}</h5>
        <p class="card-text text-10"> <b>Location:</b> {{hood.location}}</p>
      </div>
      <div class="card-footer">
        {% if request.user.profile.hood == hood %}
        <small class="text-muted"><a href="{% url 'leave-hood' hood.id %}" class="btn btn-outline-danger btn-sm">Leave
            Hood</a></small>
        {% elif not request.user.profile.hood %}
        <small class="text-muted"><a href="{% url 'join-hood' hood.id %}" class="btn btn-primary btn-sm">Join
            Hood</a></small>
        {% endif %}
       
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}